*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: min-content;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 3vh 4vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 10%;
    width: 100%;
    /* margin-top: 3vh; */
    /* background-color: rgba(53, 53, 53, 0.452);   */
    /* backdrop-filter: blur(5px); */
    background-color: #2a4444;
    color: #fff;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    width: 55%;
    list-style: none;
    align-items: center;
    padding-right: 40px;
}
li {
    cursor: pointer;
}

.logo{
    transform: scale(.7);
}

nav>ul>button {
    padding: 1.5vh 5vh;
    background-color: transparent;
    letter-spacing: .8px;
    border: .5px solid #e4e4e4;
    color: #fff;
    margin-left: 50px;
}

.hero{
    width: 100%;
    height: 90vh;
    background-color: #2a4444;
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 8vh;
}

.lside{
    height: 80%;
    width: 40%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/teamdiscussion_K7aZB2Fmg.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282671959');
    background-size: cover;
}

.rside{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left; 
    padding: 5vh 3vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

.rside>h6{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}
.rside>p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    font-weight: 100;
}

.rside>.lets-talk-form{
    width: 80%;
    height: 12%;
    display: flex;
    background-color: #fff;
}


.rside>.lets-talk-form>img{
    transform: scale(.4);

}
.rside>.lets-talk-form>input{
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1vh 2vh; 
}

.rside>.lets-talk-form>button{
    width: 40%;
    height: 90%;
    margin: .8%;
    cursor: pointer;
    color: #fff;
    background-color: #378b42;
    border: none;
    outline: none;
}

.section2{
    height: 140vh;
    padding: 8vh 5vh;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.timeline-numbers{
    padding: 3vh 2vh;
    margin: 5vh 0vh;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
}

.timeline-numbers>*>h1{
    margin-bottom: 2vh;
}

.imagee{
    position: relative;
    height: 70%;
    left: 13%;
    width: 74%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/grouppresentation_vbvXyw43v.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282671637');
    background-size: cover;
}

.section3{
    height: 140vh;
    width: 100%;
    padding: 3vh 25vh;
    justify-content: space-evenly;
}

.section3>h2{
    display: block;
    font-weight: 700;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    margin-bottom: 13vh;
    margin-top: 10vh;
}

.lside3{
    float: left;
    display: inline;
    width: 45%;
    height: 60%;
    background-color: #fff;
    padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lside3>h1{
    font-weight: 500;
}

.lside3>p{
    margin: 5vh 0vh;
    font-weight: 400;
    letter-spacing: .5px;
}

.lside3>button{
    padding: 2vh 7vh;
    border: none;
    background-color: #378b42;
    color: #fff;
}

.rside3{
    width: 45%;
    height: 65%;
    float: right;
    display: inline;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/boy_0BCZWppFU.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669125');
    background-size: cover;
}

.section4{
    height: 100%;
    width: 100%;
    padding: 3vh 20vh;
    display: flex;
    justify-content: space-evenly;
}

.lside4{
    float: left;
    display: inline;
    width: 45%;
    height: 80vh;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-fauxels-3184603_JrwxcybTb.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669826');
    background-size: cover;
    padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rside4{
    float: right;
    display: inline;
    width: 45%;
    height: 90%;
    background-color: #fff;
    padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rside4>h1{
    font-weight: 500;
}

.rside4>p{
    margin: 5vh 0vh;
    font-weight: 400;
    letter-spacing: .5px;
}

.rside4>button{
    padding: 2vh 7vh;
    border: none;
    background-color: #378b42;
    color: #fff;
}

.section5{
    height: 100%;
    width: 100%;
    padding: 3vh 20vh;
    display: flex;
    justify-content: space-evenly;

}

.lside5{
    float: left;
    display: inline;
    width: 45%;
    height: 80vh;
  padding: 20vh 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lside5>h1{
    font-weight: 500;
}

.lside5>p{
    margin: 7vh 0vh;
    font-weight: 400;
    letter-spacing: .5px;
}

.lside5>button{
    padding: 2vh 7vh;
    border: none;
    background-color: #378b42;
    color: #fff;
}

.rside5{
    width: 45%;
    height: 80vh;
    float: right;
    display: inline;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-linkedin-sales-navigator-2182969_DIIYoSx7p.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282671398');
    background-size: cover;
}

.section6{
   height: 110vh;
    padding: 2vh 10vh;
}

.section6 > h2{
    font-size: 2.5em;
    display: inline;
    margin-left: 8%;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    float: left;
}

.section6>p{
    display: inline;
    margin-top: 2vh;
    margin-right: 8%;
    color: rgb(63, 63, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    float: right;
}

.three-iamges-div{
    height: 90vh;
    width: 100%;
    padding: 5vh 8vh;
    display: flex;
    justify-content: space-evenly;
    
}

.three-iamges-div>.img-one{
    height: 55vh;
    width: 27%;
    margin: 2% 1%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-mikhail-nilov-8937870_sCk7ck77_.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282670635');
    background-size: cover;
}

.three-iamges-div>.img-two{
    height: 55vh;
    width: 27%;
    margin: 2% 1%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/blackcoat_dsdscwMmx.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669438');
    background-size: cover;
}

.three-iamges-div>.img-three{
    height: 55vh;
    width: 27%;
    margin: 2% 1%;
    background: url('https://ik.imagekit.io/yix6plf6z/project-12/pexels-christina-morillo-1181424_wBA5oN03a.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1659282669257');
    background-size: cover;
}


.three-iamges-div>*>h3,.intro-text{
    position: relative;
    display: block;
    top: 105%;
    margin-bottom: 1.4vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.three-iamges-div>*>h3{
    font-weight: 500;
}

.three-iamges-div>*>.intro-text{
    font-size: .9em;
}


.section6>button{
    position: relative;
    top: -8vh;
    left: 45%;
    padding: 2vh 5vh;
    border: none;
    background-color: #378b42;
    color: #fff;
    font-weight: bold;
}

.footer{
    height: 60vh;
    padding: 2vh 14vh;
    background-color: rgb(50, 56, 61);
}

.f-head{
    justify-content: space-between;
    display: flex;
}

.f-head .f-h-logo>img{
    transform: scale(.8);
}

.f-head>.social-icon>ul{
    width: 50vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    align-items: center;
    margin-top: 5%;
    list-style: none;
}

.footer>hr{
    margin-top: 5vh;
    background-color: rgba(158, 158, 158);
    opacity: .2;
}

.f-footer{
    display: flex;
    height: 60%;
    margin-top: 8vh;
    justify-content: space-between;
}

.f-footer>ul{
    list-style: none;

}
.f-footer>*>li:first-child{
    color: rgb(228, 228, 228);
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10%;
    font-weight: 400;
}

.f-footer>*>li:first-child ~ li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2vh 0vh;
    font-size: .8em;
    color: rgba(197, 197, 197, 0.555);
}

button{
    cursor: pointer;
}